{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>REGISTRATOIN</title>
	<link rel="stylesheet" type="text/css" href="{% static'css/sample.css'}">
	<style type="text/css">
		form
		{
    padding: 3px;
    align-content: center;
    margin-left: 130px;
    margin-right: 130px;
    align-content: normal;
    background-color: darkgrey;
    border: black;
    max-width: fit-content;
    border-style: double;
		}
	</style>
</head>
<body>
<h2>Registtration</h2>
<form>
	<label>user name:</label><input type="text" name="Tharunsai Reddy"><br>
	<label>Password:</label><input type="Password" name="sai@2808"><br>
	<label>Email:</label><input type="email" name="tharunsaireddy@gmail.com"><br>
	<label>submit</label><input type="submit" name="">
</form>
</body>
</html>